body{
    text-align:center;
}
header {
  border: 1px solid rgb(218, 198, 172);
  border-width: 4px;
  height: 12vh;
  margin: 1em;
}
.mainHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mainHeader>div{
    background-color: rgb(218, 198, 172);
    height: 70%;
    width:20vw;
    padding-top: 1.3em;
    color: rgb(62, 61, 61);
}
nav {
  margin: 1em;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    width:80%;

    margin: auto;
    border: 1px solid rgb(45, 45, 45);
}

.sectionContainer {
  border: dashed green;
  border-width: 4px;
  margin: 1em;
}
section {
  border: solid purple;
  border-width: 0.2px;
  height: 9vh;
  margin: 1em;
}
a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
a:hover{
    text-decoration: underline;
}
.shopSite{
    height: 10vh;
    width: 10%;
    border-radius: 50%;
    padding-top: 1.6em;
}
.black{
    background-color: black;
    color: white;
}
.yellow{
    background-color: rgb(207, 207, 121);
}
.orange{
    background-color: rgb(208, 110, 30);
}
.green{
    background-color: green;
}

.tableSection{
    height: max-content;
    padding: 1em;
}
table{
    border: 1px solid black;
    width:75%;
    height: 20vh;
    margin: auto;
    padding: 0%;
}

tr{
    border: 1px solid black;
    
}
th{
    background-color:cadetblue;
}
td{
    border: 1px solid black;
}
.education{
   
    height: 20%;
}
.eduFlex{
    display: flex;
    justify-content: space-evenly;
}
.education img{
    height:10rem;
    width:10rem;
}
.hoverSec{
    height:max-content;
    padding: 2rem;
}
.hoverdText{
    font-weight: 600;
    transition: font-size 2s;
}
.hoverdText:hover{
    font-size: 1.4rem;
    
}
footer{
    background-color: darkgreen;
    height: 10vh;
    
    padding: 2rem;
  
}
.icons{
    display: flex;
    justify-content: space-around;
    width:50%;
    margin: auto;
}
.icons i{
    width:30px;
    height: 30px;
    font-size: 30px;
}
.icons a{
    color: rgb(152, 188, 152);
}

.icons i:hover{
    cursor:pointer;
    color: rgb(2, 55, 2);
}